 .background-custom {
    background-color: #00472f;
  }

  .background-custom-2{
    background-color: #e0ebe7;
  }

  .background-custom-3{
    background-color: whitesmoke;
  }

  .background-custom-4{
    background-color: #ffb100;
  }

  
  
  .navbar-brand {
    color: #00472f !important;
    font-family: Quicksand !important;
    font-size: x-large !important; 
  }
  
  .custom-btn-1 {
    background-color: #ffb100;
    border-radius: 10px;
    font-family: Quicksand !important;
    color: #00291b;
    font-weight: 500;
  }
  
  .custom-btn-2 {
    border: 2px solid #00472f;
    border-radius: 10px;
    font-family: Quicksand !important;
    color: #00472f;
    font-weight: 500;
  }
  
  .custom-btn-3 {
    background-color: #00472f;
    border-radius: 30px;
    font-family: Quicksand !important;
    color: #ffffff;
    font-weight: 500;
  }
  
  .custom-text-1 {
    color: #006241 !important;
    font-family: Quicksand !important;
  }

  .custom-text-2 {
    color: #00291b !important;
    font-family: Quicksand !important;
  }

  .custom-text-3 {
    color: #c6ecdf !important;
    font-family: Quicksand !important;
  }

  .custom-text-4 {
    font-family: Quicksand !important;
  }


  
  
