{% extends 'main/basic.html' %}
{% load hosts %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
{% endblock %}

{% block body%}
<div class="container p-5 m-5 text-success border custom-text-2">
    <h3>Checkout</h3>
    <hr>
    <h5>How would you like to pay?</h5>
    <a class="btn custom-btn-2 my-5" href="#" role="button">Card</a>
    <a class="btn custom-btn-2 my-5" href="#" role="button">Khalti</a>
    <hr>
    <h5>Card Details</h5>

    <form>
        <div class="row mb-3">
          <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Card Number</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Expiry Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Security Code</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
        
          <a class="btn custom-btn-3 my-10 text-light" href="#" role="button">Purchase</a>
      </form>

</div> 

{% endblock %}