{% extends 'main/basic.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
    .main-area {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        background-color: #f8f9fa;
    }

    .product-cards {
        background-color: white;
        padding: 10px;
    }

    body {
        background-color: #e0ebe7;
    }

    h4 {
        margin-left: 70px;
    }

    .book {
        margin-left: 100px;
    }

    .contact {
        margin-left: 15px;
    }

    .title {
        background-color: #f0f4f3;
    }
</style>
{% endblock %}

{% block body%}


<div class="container-fluid bg-light custom-text-4 shadow-5-strong title">
    <div class="row">
        <div class="col-9 custom-text-1 p-3">
            <h4><b>{{event.title}}</b></h4>
        </div>
        <div class="col-3 text-success p-3">
            <a href="{% url 'addtocart' id=event.event_id %}"> <button type="button" class="btn custom-btn-1 book">Book
                    Now</button></a>
        </div>
    </div>
</div>

<!-- Section: Split screen -->
<section class="">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">


                <div class="container m-5 custom-text-4">
                    <div class="container-fluid">
                        <img src="/media/{{event.image}}" class="img-fluid mx-auto d-block" alt="...">
                    </div>
                    <div class="container-fluid p-3">
                        <h6>ABOUT</h6>
                        <p>
                            {{event.event_description}}
                        </p>

                        <br>

                        <h6>DATE</h6>
                        <p>
                            {{event.start_date}}
                        </p>

                        <br>

                        <h6>LOCATION</h6>
                        <p>
                            {{event.venue}}
                        </p>
                    </div>

                    <a class="btn custom-btn-2 contact" href="#" role="button">Contact Organizer</a>
                </div>
            </div>



            <div class="col-lg-3 vh-100 m-5">

                <h5 class="text-center custom-text-1"><b>Similar Events</b></h5>



                <div class="row p-4 mb-5">

                    {% for rec_event in recommended_events %}

                    <div class="col mb-3">
                        <div class="card h-100 shadow-5-strong">
                            {% if rec_event.image %}
                            <img src="/media/{{ rec_event.image }}" alt="{{ rec_event.title }} Image">
                            {% endif %}
                            <div class="card-body">
                                <strong>{{ rec_event.title }}</strong>

                                {% if rec_event.venue %}
                                <p class="card-text"> <i class="fas fa-location-dot me-2 icon-color"></i>{{ rec_event.venue|join:" " }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>

</section>
<!-- Section: Split screen -->


{% endblock %}