{% extends 'main/basic.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
    .main-area {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        background-color: #f8f9fa;
    }

    .product-cards {
        background-color: white;
        padding: 10px;
    }
</style>
{% endblock %}

{% block body%}


    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-9 custom-text-1 p-3">
                <h4>{{event.title}}</h4>
            </div>
            <div class="col-3 text-success p-3">
               <a href="{% url 'addtocart' id=event.event_id %}"> <button type="button" class="btn custom-btn-1">Book Now</button></a>
            </div>
        </div>
    </div>
    
    <div class="container m-5">
    <div class="container-fluid">
        <img src="/media/{{event.image}}" class="img-fluid mx-auto d-block" alt="...">
    </div> 
        <div class="container-fluid p-3">
        <h6>ABOUT</h6>
        <p>
            {{event.event_description}}
        </p>

             <br>

             <h6>DATE</h6>
        <p>
            {{event.start_date}}
        </p>

        <br>

        <h6>LOCATION</h6>
        <p>
            {{event.venue}}
        </p>
     </div>

     
     <h3>Recommended Events:</h3>
     <ul>
         {% for recommended_event in recommended_events %}
             <li>{{ recommended_event.title }}</li>
         {% endfor %}
     </ul>

</div>
{% endblock %}