{% extends 'main/basic.html' %}
{% load static %}
{% load hosts %}
{% block title %}
{% endblock %}
{% block css %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .background-custom {
        background-color: #006241;
    }

    .navbar-brand {
    color: #006241 !important;
    font-family: Acme !important;
    font-size: x-large !important;
  }
  

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }


    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }

    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
        color: #5a5a5a;
    }




    .display-5 {
        font-family: Roboto !important;
    }







    /* RESPONSIVE CSS
-------------------------------------------------- */



    @media (min-width: 992px) {
        .rotate-lg {
            transform: rotate(6deg);
        }
    }
</style>
{% endblock %}


{% block body%}
<header>
   
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>


            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <b>EventSafari</b>
                </a>
                <!-- Left links -->
                <ul class="navbar-nav ms-3 me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listevents' %}">Find Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://services.eventsafari.com:8000/">Create Events</a>
                    </li>

                    
                </ul>

                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
               
                <a class="nav-link" href="/search">
                    <form class="d-flex mt-0 mb-0">
                        <input class="form-control me-2 rounded-9" type="search" placeholder="Search"
                            aria-label="Search">
                    </form>
                </a>
            


                {% if user.is_authenticated %}
                <!-- Avatar -->
                <div class="dropdown ms-5">
                    <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                        id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                            alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% host_url 'logout' host 'www' %}">Logout</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <a class="nav-link mx-5 text-dark" text-dark href="{% host_url 'login' host 'www' %}"><b>Log In</b></a>

                <a class="btn custom-btn-1" href="{% host_url 'signup' host 'www' %}" role="button"><b>Register</b></a>
                {% endif %}
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div id="categories"></div>

    <!--Banner-->
    <div class="container-fluid overflow-hidden background-custom mb-5">
        <div class="row gx-0">
            <div class="col-md-7 p-lg-5 p-md-10 d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-3 fw-bold custom-text-3">Discover Events With EventSafari</h1>
                <p class="lead fw-normal text-start text-white">For all your event ticketing needs, from small
                    gatherings to the large festivals, our event booking system has you covered.</p>
                <a class="btn custom-btn-1 btn-lg" href="#">Find Events</a>
            </div>
            <div class="col-md-5 p-lg-5 text-center bg-image hover-zoom">
                <img src="media/images/colors.jpg" class="img-fluid rounded-9 rotate-lg" alt="Author image">

            </div>
        </div>
    </div>
    <!--Banner-->

</header>



<main>
    <!--Categories-->
    <div class="container-fluid mb-10">
        <div class="row g-5 ">
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-guitar fa-2x icon-color"></i>
                </a>
                <p>Music</p>

            </div>
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-gopuram fa-2x icon-color"></i>
                    <p>Religious</p>
                </a>
            </div>
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-basketball fa-2x icon-color"></i>
                    <p>Sports</p>
                </a>
            </div>
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-hands-praying fa-2x icon-color"></i>
                    <p>Yoga and Meditation</p>
                </a>
            </div>
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-briefcase fa-2x icon-color"></i>
                    <p>Business</p>
                </a>
            </div>
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-masks-theater fa-2x icon-color"></i>
                    <p>Performing Arts</p>
                </a>
            </div>
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-utensils fa-2x icon-color"></i>
                    <p>Food and Drinks</p>
                </a>
            </div>
            <div class="col text-center d-flex flex-column justify-content-center align-items-center">
                <a href="#">
                    <i class="fas fa-palette fa-2x icon-color"></i>
                    <p>Hobbies</p>
                </a>
            </div>
        </div>
    </div>
    <!--Categories-->

    <div class="container-fluid mb-5 background-custom-4">
        <div class="row g-5">
            <div class="col">
                <img src="https://images.pexels.com/photos/2034851/pexels-photo-2034851.jpeg?auto=compress&cs=tinysrgb&w=600">
            </div>
        </div>
    </div>


    <hr>
    <!--Featured Events-->
    <section class="">
        <div class="container">
            <h3 class="text-center custom-text-1"><b>Featured Events</b></h3>
        </div>

        <div class="row g-0">
            {% for event in event_data %}
            <div class="col m-5">
                <div class="card" style="width: 18rem;">
                    <img src='/media/{{event.image}}' class="card-img-top" alt="..."
                        style="width: 18rem; height:15rem;">
                    <div class="card-body" style="width: 18rem; height:15rem;">
                        <h5 class="card-title">{{event.title}}</h5>
                        <br>
                        <p class="card-text">VENUE : {{event.location}}</p>
                        <a href="#" class="btn custom-btn-1">Book Ticket</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--Featured Events-->



    <div id="search" class="search-div">


    </div>
</main>



<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="container-fluid text-white background-custom">
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5 pt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>EventSafari
                        </h6>
                        <p>

                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Features
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Create Events</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Sell Tickets</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Book Events</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Event Payment</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Bharatpur, Nepal</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            eventsafari0@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 977 9864523523</p>
                        <p><i class="fas fa-print me-3"></i> + 977 9862356325</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
    </div>



    <!-- Copyright -->
    <div class="text-center text-white p-4 background-custom">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="#">eventsafari.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->




{% endblock %}

{% block js %}
<script>
    document.getElementById('search-bar').addEventListener('click', function () {
        var search = document.getElementById('search');
        // Code to show or animate the search bar
        search.classList.toggle('search');
        // or any other display property
    });

</script>
{% endblock %}