{% extends 'main/basic.html' %}
{% load hosts %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
    body {
        background-color: #f5f5f5;

    }

    #intro {
        background-image: url("/media/images/signup-bg.jpg");
        height: 100vh;
    }


    

    .main-area {
        display: flex;
        align-items: center;
    }

    .register-form {
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        color: white;
        border-radius: 5px;
    }

    .custom-btn-2 {
        border: 2px solid #006241;
        border-radius: 30px;
        font-family: Acme !important;
        color: #006241;
        font-weight: 500;
    }

    .mainheading {
        text-align: center;
        color: white;
    }

    .form-control{
        background: rgba(74, 77, 74, 0.3);
    }

    .form-control:hover{
        background: rgba(74, 77, 74, 0.3);
    }

    .form-control::placeholder {
    color: white;
}

    .errorlist {
        color: red;
    }

    
</style>
{% endblock %}

{% block body%}
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center" style="background-color: rgba(0, 0, 0, 0.88);">
        <div class="container">
            <div class="row justify-content-center custom-text-4">
                <div class="col-xl-5 col-md-8">
                    <form method="POST">{% csrf_token %}
                        <div class="main-area">
                            <div class="register-form text-center">

                                <h2 class="mainheading">Welcome !</h2>
                                <p class="mainheading">Enter your details to Signup.</p>
                                <p class="errorlist">{{ form.non_field_errors }}</p>
                                <br>
                                {{ form.email.errors }}
                                {{ form.email|addclass:'form-control'|addplaceholder:'Enter Your Email Address'}}

                                <br>
                                {{ form.name.errors }}
                                {{ form.name|addclass:'form-control'|addplaceholder:'Enter Your Name' }}
                                <br>
                                {{ form.password1.errors }}
                                {{ form.password1|addclass:'form-control'|addplaceholder:' Enter Your Password' }}
                                <br>
                                {{ form.password2.errors }}
                                {{ form.password2|addclass:'form-control'|addplaceholder:'Enter Your Password Again' }}
                                <br>
                                <button type="submit" class="btn custom-btn-1" style="width:360px;"><b>Sign Up</b></button>

                                <br>
                                <br>
                                Already have an account? Login <a
                                    href="{% host_url 'login' host 'www' %}"><strong>here</strong></a> !
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}