{% extends 'main/basic.html' %}
{% load static %}
{% load myfilters %}

{% block title %}
Explore Events
{% endblock %}

{% block css %}
<style>
    .main-area{
        display: flex;
        align-items: center;
    }
    .register-form{
        width: 100%;
        margin :auto;
        background-color: aqua;
        padding: 20px;
    }
</style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-5 text-success" href="{% url 'home' %}">EventSafari</a>
    </div>
</nav>    

<div class="main-area">
<div class="register-form p-5 m-5 border">        
<form method="POST">
    {% csrf_token %}
    
    {{form.non_field_errors}}

    <label for="id_email" class="login-labels">Your Email Address</label>
    {{form.email.errors}}
    {{form.email|addclass:'formcontrol'|addplaceholder:'Email Address'}}
     <br>

    <label for="id_name" class="login-labels">Your Name</label>
    {{form.name.errors}}
    {{form.name|addclass:'formcontrol'|addplaceholder:'Your Name'}}
     <br>

    <label for="id_password1" class="login-labels">Your Password</label>
    {{form.password1.errors}}
    {{form.password1|addclass:'formcontrol'|addplaceholder:'Your Password'}}
     <br>


    <label for="id_password2" class="login-labels">Confirm Your Password</label>
    {{form.password2.errors}}
    {{form.password2|addclass:'formcontrol'|addplaceholder:'Enter Your Password again'}}
    <br> 

    <button type="submit" class="btn btn-success">Sign up</button>
</form>
</div>
</div>

{% endblock %}