{% extends 'organizer/basic.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block css %}

{% endblock %}

{% block body%}

<!--Main Navigation-->
<header class="mb-10">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary sticky-top">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Logo -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <b>EventSafari</b>
        </a>
        <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
          <li class="nav-item px-3">
            <a class="nav-link" href="#!">Features</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#!">Industries</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#!">Pricing</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#!">About Us</a>
          </li>

        </ul>


      </div>
      <!-- Collapsible wrapper -->

      <ul class="navbar-nav flex-row">
        <!-- Icons -->
        <li class="nav-item">
          <a class="btn btn-lg custom-btn-3" href="#" role="button"><b>Create Event</b></a>
        </li>

      </ul>

    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <div class="container-fluid overflow-hidden banner">
    <div class="row g-0">
      
      <div class="col-md-6 p-lg-5 p-md-10 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-3 fw-bold custom-text-2">Create Events With EventSafari</h1>
        <p class="lead fw-normal text-start custom-text-3">For all your event ticketing needs, from small gatherings to the large festivals, our event booking system has you covered.</p>
        <a class="btn custom-btn-3 btn-lg" href="#">Sign Up</a>
      </div>
      <div class="col-md-3 p-lg-5">
        <img src="https://cdn.pixabay.com/photo/2016/07/05/19/59/christening-1499314_640.jpg" class="w-400" alt="Author image" style="border-radius: 43% 57% 39% 61% / 42% 30% 70% 58%;">
    </div>
  </div>


</header>
<!--Main Navigation-->


<!--Main layout-->
<main>
  <div class="container">
    <!-- Section: Posts -->
    <section class="text-center mb-10 mt-10">
      <h3 class="fw-bold mb-7 text-center custom-text">Industries That We Help Sell Tickets Online</h3>
      <div class="row gx-lg-5">
        <!-- Column -->
        <div class="col-lg-4 col-md-12 mb-7">
          <div class="card rounded-6 h-80">
            <div class="bg-image mt-n3" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://blog-tutorial.mdbgo.io/assets/1.jpg" class="w-100">
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title custom-text"><b>Alone or with a group?</b></h5>
            </div>
          </div>
        </div>
        <!-- Column -->

        <!-- Columns -->
        <div class="col-lg-4 mb-7">
          <div class="card rounded-6 h-80">
            <div class="bg-image mt-n3" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://blog-tutorial.mdbgo.io/assets/2.jpg" class="w-100">
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>

            </div>
            <div class="card-body">
              <h5 class="card-title custom-text"><b>Top 10 places in Europe</b></h5>

            </div>
          </div>

        </div>
        <!-- Columns -->

        <!-- Column -->
        <div class="col-lg-4 mb-7">

          <div class="card rounded-6 h-80">
            <div class="bg-image mt-n3" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://blog-tutorial.mdbgo.io/assets/3.jpg" class="w-100">

              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>

            </div>
            <div class="card-body">
              <h5 class="card-title custom-text"><b>Navigation without internet</b></h5>

            </div>
          </div>

        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-lg-4 col-md-12 mb-7">

          <div class="card rounded-6 h-80">
            <div class="bg-image mt-n3" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://blog-tutorial.mdbgo.io/assets/4.jpg" class="w-100">

              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>

            </div>
            <div class="card-body">
              <h5 class="card-title custom-text"><b>Which tent should you choose?</b></h5>
            </div>
          </div>

        </div>
        <!-- Column -->

        <!-- Columns -->
        <div class="col-lg-4 mb-7">

          <div class="card rounded-6 h-80">
            <div class="bg-image mt-n3" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://blog-tutorial.mdbgo.io/assets/5.jpg" class="w-100">

              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>

            </div>
            <div class="card-body">
              <h5 class="card-title custom-text"><b>The best backpacks ranking</b></h5>
            </div>
          </div>

        </div>
        <!-- Columns -->

        <!-- Column -->
        <div class="col-lg-4 mb-7">

          <div class="card rounded-6 h-80">
            <div class="bg-image mt-n3" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://blog-tutorial.mdbgo.io/assets/6.jpg" class="w-100">

              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>

            </div>
            <div class="card-body">
              <h5 class="card-title custom-text"><b>How to plan a trip?</b></h5>
            </div>
          </div>

        </div>
        <!-- Column -->

      </div>


<hr>
    </section>
    <!-- Section: Posts -->


<section class="mb-10">
  <h3 class="fw-bold mb-7 text-center custom-text">Pricing</h3>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>

</section>

    <!-- Section: About author -->
    <section class="mb-10">
      <div class="container">
        <div class="row gx-0 align-items-center">

          <div class="col-lg-6 mb-5 mb-lg-0">

            <div style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1;"
              class="card rounded-7 me-lg-n5">
              <div class="card-body p-lg-5">
                <h2 class="fw-bold">
                  <span class="text-primary">Anna Maria Doe</span>
                </h2>
                <p class="fw-bold"><em>“Don't be a tourist, be a traveler”</em></p>

                <p class="text-muted mb-4">
                  Nunc tincidunt vulputate elit. Mauris varius purus malesuada
                  neque iaculis malesuada. Aenean gravida magna orci, non
                  efficitur est porta id. Donec magna diam.
                </p>
                <p class="text-muted">
                  Ad, at blanditiis quaerat laborum officia incidunt
                  cupiditate dignissimos voluptates eius aliquid minus
                  praesentium! Perferendis et totam ipsum ex aut earum libero
                  accusamus voluptas quod numquam saepe, consequuntur nihil
                  quia tenetur consequatur. Quis, explicabo deserunt quasi
                  assumenda ea maiores nulla, et dolor saepe praesentium natus
                  error reiciendis voluptas iste. Esse, laudantium ipsum
                  animi, quos voluptatibus atque vero repellat sit eligendi
                  autem maiores quasi cum aperiam. Aperiam rerum culpa
                  accusantium, ducimus deserunt aliquid alias vitae quasi
                  corporis placeat vel maiores explicabo commodi!
                </p>
              </div>
            </div>

          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">

            <img src="https://blog-tutorial.mdbgo.io/assets/about.jpg" class="w-100" alt="Author image"
              style="border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%;" />

          </div>

        </div>
      </div>
    </section>
    <!-- Section: About author -->
</main>
<!--Main layout-->


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <div class="container-fluid text-white background-custom">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5 pt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>EventSafari
            </h6>
            <p>

            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Features
            </h6>
            <p>
              <a href="#!" class="text-reset">Create Events</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Sell Tickets</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Book Events</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Event Payment</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Bharatpur, Nepal</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              eventsafari0@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 977 9864523523</p>
            <p><i class="fas fa-print me-3"></i> + 977 9862356325</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </div>
  </div>



  <!-- Copyright -->
  <div class="text-center text-white p-4 background-custom">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="#">eventsafari.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock %}