{% extends 'organizer/basic.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
<script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'bootstrap-datepicker/js/locales/bootstrap-datepicker.en.min.js' %}"></script>
{% load hosts %}
{% load myfilters %}
{% block title %}
{% endblock %}

{% block css %}
<style>
    body{
        background-color:#f5f5f5;

    }
.main-area{
    display: flex;
    align-items: center;
}
.event-form{
    width:100%;
    max-width: 800px;
    margin:auto;
    margin-top:40px;
    padding:20px;
    background-color: #fff;
    border-top: 5px solid #2BA977;
    border-radius: 5px;
}
.mainheading{
    text-align: center;
}
</style>
{% endblock %}

{% block body%}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="main-area">
        <div class="event-form">
            {{ form.non_field_errors }}
            <h2 class="mainheading custom-text-2">Event Form</h2>
            
            <label for="id_title" class="login-labels">Event Title</label>
            {{ form.title.errors }}
            {{ form.title|addclass:'form-control'|addplaceholder:'Event Name Or Title'}}
            <br>

            <label for="id_event_description" class="login-labels">Description</label>
            {{ form.event_description.errors }}
            {{ form.event_description|addclass:'form-control'|addplaceholder:'Description' }}
            <br>

            <label for="id_category" class="login-labels">Event Category</label>
            {{ form.category.errors }}
            {{ form.category|addclass:'form-control'|addplaceholder:'Event Category'}}
           
            <label for="id_start_date" class="login-labels">Start Date</label>
            {{ form.start_date.errors }}
            {{ form.start_date|addclass:'form-control'|addplaceholder:'start date'}}
            
            <label for="id_end_date" class="login-labels">Ending Date</label>
            {{ form.end_date.errors }}
            {{ form.end_date|addclass:'form-control'|addplaceholder:'end date'}}

            <label for="id_start_time" class="login-labels">Start time</label>
            {{ form.start_time.errors }}
            {{ form.start_time|addclass:'form-control'|addplaceholder:'start time'}}

            

            <label for="id_venue" class="login-labels">Venue</label>
            {{ form.venue.errors }}
            {{ form.venue|addclass:'form-control'|addplaceholder:'Event Venue'}}

            <label for="id_capacity" class="login-labels">Event Capacity</label>
            {{ form.capacity.errors }}
            {{ form.capacity|addclass:'form-control'|addplaceholder:'Event Capacity'}}

            <label for="id_image" class="login-labels">Event Image</label>
            {{ form.image.errors }}
            {{ form.image|addclass:'form-control'|addplaceholder:'Event Image'}}

            <label for="id_price" class="login-labels">Ticket Price</label>
            {{ form.price.errors }}
            {{ form.price|addclass:'form-control'|addplaceholder:'Ticket Price'}}

            <br>
            <div class="form-buttons">
                <input type="submit" value="Save" class="btn custom-btn-1"/>
                <a href="{% url 'dashboard' %}" class="btn btn-outline">Cancel</a>
            </div>
            <br>
            <br>
            
        </div>
    </div>

</form>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{{ form.media }}

{% endblock %}