.background-custom {
    background-color: #006241;
}
.navbar-brand {
    color: #006241 !important;
    font-family:Quicksand !important;

}

.nav-item{
    color: black !important;
    font-family: Quicksand;
    font-weight: bold;
}



.custom-btn-1 {
    background-color: #ffb100;
    border-radius: 10px;
    font-family: Quicksand !important;
    color: #000000;
    font-weight: 500;
}

.custom-btn-2 {
    border: 2px solid #006241;
    border-radius: 30px;
    font-family: Quicksand !important;
    color: #006241;
    font-weight: 500;
}

.custom-btn-4 {
    border: 2px solid red;
    border-radius: 10px;
    font-family: Quicksand !important;
    color: red;
    font-weight: 500;
}

.custom-btn-3 {
    background-color: #006241;
    border-radius: 30px;
    font-family: Quicksand!important;
    color: white;
    font-weight: 500;
}
.custom-text{
    color: #006241 !important;
    font-family: Quicksand !important;
}
.custom-text-2{
    color: black !important;
    font-family: Quicksand !important;
}
.custom-text-3{
    font-family: Quicksand !important;
}

.banner{
    background-color: #70ae6e;
    background: linear-gradient(to right,
    #ffffff,
    #c4dbc0,
    #ffffff);
}

.banner-img{
    width: 800px;
    height: 500px;
}




  
  
  
  