{% extends 'master.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-5 text-success" href="{% url 'home' %}">EventSafari</a>
    </div>
</nav>
  

    <div class="container p-5 m-5 border">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <br>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <br>
        Don't have an account? <a href="/audience/signup" target="blank"><strong>Register here</strong></a>!
    </div>
{% endblock %}
